*{
    margin:10%;
    padding:10;
}
div{
    background-color: aquamarine;
}
p{
    background-color: aquamarine;
}
h2{
    background-color: blue;
}
h3{
    background-color: blueviolet;
}
h1{
    background-color: bisque;
}
h2{
    background-color: beige;
}
h1{
    background-color: rgb(180, 127, 255);
}